{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2>
        Histórico de Movimentações
    </h2>

    <a href="{% url 'nova_movimentacao' %}"
       class="btn btn-primary">

        + Nova Movimentação

    </a>

     <a
        href="{% url 'exportar_movimentacoes_excel' %}"
        class="btn btn-success">

        📊 Exportar Excel

    </a>

</div>

<div class="card card-modern mb-4">

    <div class="card-body">

        <form method="get">

            <div class="row">

                <div class="col-md-4">

                    <label class="form-label">
                        EPI
                    </label>

                    <select
                        name="epi"
                        class="form-select">

                        <option value="">
                            Todos
                        </option>

                        {% for epi in epis %}

                        <option
                            value="{{ epi.id }}"
                            {% if request.GET.epi == epi.id|stringformat:"s" %}
                                selected
                            {% endif %}
                        >
                            {{ epi.nome }}
                        </option>

                        {% endfor %}

                    </select>

                </div>

                <div class="col-md-4">

                    <label class="form-label">
                        Tipo
                    </label>

                    <select
                        name="tipo"
                        class="form-select">

                        <option value="">
                            Todos
                        </option>

                        <option value="entrada">
                            Entrada
                        </option>

                        <option value="saida">
                            Saída
                        </option>

                        <option value="ajuste">
                            Ajuste
                        </option>

                    </select>

                </div>

                <div class="col-md-4 d-flex align-items-end">

                    <button
                        class="btn btn-primary">

                        Filtrar

                    </button>

                </div>

            </div>

        </form>

    </div>

</div>

<div class="card card-modern">

    <div class="card-body">

        <table class="table table-hover">

            <thead>

                <tr>
                    <th>Data</th>
                    <th>EPI</th>
                    <th>Tipo</th>
                    <th>Quantidade</th>
                    <th>Usuário</th>
                </tr>

            </thead>

            <tbody>

                {% for mov in movimentacoes %}

                <tr>

                    <td>
                        {{ mov.data_movimento|date:"d/m/Y H:i" }}
                    </td>

                    <td>
                        {{ mov.epi.nome }}
                    </td>

                    <td>

                        {% if mov.tipo == 'entrada' %}

                            <span class="badge bg-success">
                                Entrada
                            </span>

                        {% elif mov.tipo == 'saida' %}

                            <span class="badge bg-danger">
                                Saída
                            </span>

                        {% else %}

                            <span class="badge bg-warning text-dark">
                                Ajuste
                            </span>

                        {% endif %}

                    </td>

                    <td>
                        {{ mov.quantidade }}
                    </td>

                    <td>
                        {{ mov.usuario }}
                    </td>

                </tr>

                {% empty %}

                <tr>

                    <td colspan="5"
                        class="text-center">

                        Nenhuma movimentação encontrada.

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}