{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">
    Dashboard
</h1>

<div class="row g-4">

    <div class="col-md-4">
        <div class="card card-modern">
            <div class="card-body">
                <h5>Funcionários</h5>
                <h2>0</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-modern">
            <div class="card-body">
                <h5>EPIs</h5>
                <h2>0</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-modern">
            <div class="card-body">
                <h5>Entregas</h5>
                <h2>0</h2>
            </div>
        </div>
    </div>

</div>

{% endblock %}