{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h2 class="mb-4">
        Nova Entrega de EPI
    </h2>

    <form method="post" id="formEntrega">

        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
            </div>
            {% endif %}

            <div class="card card-modern">

                <div class="card-body">

                    {{ form.as_p }}

                    <hr>

                    <button
                        type="button"
                        id="btnAdicionar"
                        class="btn btn-primary w-100"
                    >
                        ➕ Adicionar EPI
                    </button>

                    <div class="card shadow-sm">

                    <div class="card-header bg-light">

                        <h5 class="mb-0">
                            🦺 Itens desta Entrega
                        </h5>

                    </div>

                    <div class="card-body">

                        <table class="table table-sm" id="tabelaItens">

                            <thead>

                                <tr>

                                    <th>EPI</th>
                                    <th>Qtd</th>
                                    <th>Motivo</th>
                                    <th></th>

                                </tr>

                            </thead>

                            <tbody>

                            </tbody>

                        </table>

                        <div class="d-grid mt-3">

                            <input
                                type="hidden"
                                id="itensEntrega"
                                name="itens_entrega"
                            >

                            <button
                                type="submit"
                                class="btn btn-success"
                                id="btnRegistrarEntrega">
                                ✅ Registrar Entrega
                            </button>
                        </div>

                    </div>

                </div>  
            </div>

        </div>

    </form>

    <script src="{% static 'js/entregas.js' %}"></script>

{% endblock %}